<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>fbf7c51704baf0faa489f9c444384bfd</string>
	<key>GeminiAPI_KEY</key>
	<string>AIzaSyAfFf_5qv-vZ5YSBTsVZg8hVPLU3uZ04ys</string>
</dict>
</plist>
